<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>LoginSystem</title> 
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://bootswatch.com/5/quartz/bootstrap.min.css" rel="stylesheet" type="text/css">    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<style>

#loginboxes{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -250px;
    width: 100px;
    z-index: 1;
    justify-content: center;
}

</style>




<body>
    <div id = 'loginboxes'>
        
        <div class="mx-auto" style="width: 500px" ;>
            <form action="login_user" method="post" class="form-horizontal">
                {% csrf_token%}
                <div class="col-xs-8 col-xs-offset-4">
                    <h2 style="text-align:center;">LOGIN</h2>
                </div>
    
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
                </div>
                <button type="submit" class="btn btn-primary">LOGIN</button>
                <br />
                <div class="form-group">
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                </div>
            </form>
    
    
    </div>


</body>
</html>

